<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/books/{id}(id=${book.getId()})}" th:method="PATCH" th:object="${book}">
    <label for="title"></label>
    <input type="text" th:field="*{title}" id="title">
    <p style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</p>
    <label for="author"></label>
    <input type="text" th:field="*{author}" id="author">
    <p style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Title error</p>
    <label for="year"></label>
    <input type="text" th:field="*{year}" id="year">
    <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Title error</p>
  <input type="submit" value="edit">
</form>

</body>
</html>