<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<a th:href="@{/books/add}">Add</a>
<hr>
<div th:each="book : ${books}">
    <a th:text="${book.getTitle() + ' ,' + book.getAuthor() + '  ' + book.getId() + ' ' + book.getUser_id()} "
       th:href="@{/books/{id}(id=${book.getId()})}">Text</a>
    <a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
  <form th:action="@{/books/{id}(id=${book.getId()})}" th:method="DELETE">
    <input type="submit" value="Delete">
  </form>
</div>

</body>
</html>